<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>jquery Filetree test</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="{{ url_for('filetree.static', filename='css/jQueryFileTree.min.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('filetree.static', filename='css/jq.css') }}" rel="stylesheet"></link>
    <script src="{{ url_for('filetree.static', filename='js/jQueryFileTree.min.js') }}"></script>
    <style>
    </style>
    <script>
        var gfile = "";
        $(function() {
            $("#filetree").fileTree({
                root: "{{bug_dir}}",
                script: "{{ url_for('filetree.sfiles') }}",
                loadMessage: "Loading the attachments..."
      
            }, function(file) { 
            gfile = file;
            $("#selectedfilediv").show();
            var res = file.split("/");
            console.log(file);
            var elem = document.getElementById("selectedfile");
            elem.value = res[res.length-1];
            });
        });

        function SubmitFile() {
        //todo
        var action = $( "#actionSelect" ).val();
        console.log(action);
        if(action == "loginsight") {

        $("#result").show();
        $("#choose").hide();

            var url = document.URL;
            bz = url.split("?id=")[1];
            console.log(bz);
            $.ajax({
                url: 'http://127.0.0.1:5000/filetree/bugs?id=1452100',
                type: 'GET',
                data: 'ID=' + bz + '&FILE=' + gfile,
                success: function() { alert('PUT completed'); }

          });
        }
        }

        function back() {
        $("#result").hide();
        $("#choose").show();
        }

        function gotologinsight() {
           var liurl = "https://10.117.175.99/home?contextId=com.vmware.vsphere&viewId=1"
           window.open(liurl, "_blank");
        }
        
    </script>
</head>
<body>

  <div id="choose">
  <div>
    <label for="exampleInputName2">Select an attachment</label>
  </div>

  <div id="filetree">
  </div>


  <div id ="selectedfilediv"  style="display:none">
    <div class="row">
      <div class="input-group">
        <div class="col-md-5">
          <div class="input-group-addon">File</div>
          <input id="selectedfile" type="text" class="form-control">
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-4">
        <select class="form-control" id="actionSelect">
          <option value="loginsight">Sent to Log Insight</option>
          <option value="vdiag">Send to vDiag</option>
          <option value="cybertron">Send to Cybertron</option>
          <option value="vmdt">Send to VMDT</option>
          <option value="debugzilla">Online Debug coredump</option>
        </select>
      </div>
      <div class="col-md-2">
	    <button type="submit" class="btn btn-default" onclick="SubmitFile()"> Submit</button>
	  </div>
    </div>
  </div>
  </div>  

  <div id="result" style="display:none">
    
    <!-- Standard button -->
    <button onclick="back()" type="button" class="btn btn-default">Back</button>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button onclick="gotologinsight()" type="button" class="btn btn-primary">Go to Log Insight</button>
  </div>

</body>
</html>
