<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NLog.Targets.WebSocketServer example</title>
    <link href="styles/ng-websocket-log-viewer-1.0.0.css" rel="stylesheet" />
    <link href="styles/web-viewer.css" rel="stylesheet" />
    <link rel="shortcut icon" href="//angularjs.org/favicon.ico" type="image/x-icon">
</head>
<body ng-app="nglog-websockeet-demo" ng-controller="logController">

    <div id="header">
        <button ng-click="reloadlog()" ng-class="{blink : pause}">Reload</button>
        <button ng-click="loadmore()" ng-class="{blink : pause}">loadmore</button>
        <label>BackGround</label><input type="color" ng-model="background" />
        <label>Font Color</label><input type="color" ng-model="fontcolor" />
        <label>grep Log</label><input id="regex" expand-on-focus="200" type="text" ng-model="filterExpression" ng-model-options="{ debounce: 500 }" ng-change="filter(filterExpression)" />
        <label style="color: yellow">Highlight 1</label><input id="highlight" expand-on-focus="200" type="text" ng-model="highlightText" ng-model-options="{ debounce: 500 }" ng-change="highlight(highlightText)" />
        <button ng-click="gotoAnchor(300)" ng-class="{blink : pause}">Next</button>
        <label style="color: purple">Highlight 2 </label><input id="highlight1" expand-on-focus="200" type="text" ng-model="highlightText1" ng-model-options="{ debounce: 500 }" ng-change="highlight1(highlightText1)" />
        <label style="color: blue">Highlight 3</label><input id="highlight2" expand-on-focus="200" type="text" ng-model="highlightText2" ng-model-options="{ debounce: 500 }" ng-change="highlight2(highlightText2)" />
    </div>

    <websocket-log-viewer id="log-container"></websocket-log-viewer>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ng-websocket-log-viewer-1.0.0.js"></script>
    <script src="scripts/web-viewer.js"></script>
</body>
</html>
